#login-container {
  margin: auto;
  width: 30%;
  height: 600px;
  /* border: 1px solid red; */
}
#login {
  /* border: 1px solid tomato; */
}
#head {
  text-align: center;
  color: #204e3c;
  font-size: 45px;
  /* font-family: "Lora", serif; */
  margin-bottom: 20px;
}
#loginform {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  /* width: 480px; */
}
input {
  height: 30px;
  padding: 5px 20px 5px 20px;
  font-size: 15px;
  margin-top: 15px;
}
.margin_txt {
  padding-left: 2%;
}
#email,
#password {
  width: 398px;
}
.btn {
  border: 1px solid transparent;
}
#btn2 {
  border: 1px solid transparent;
  margin-top: 40px;
  /* padding: 0px 162px; */
  height: 50px;
  background-color: #dde7e5;
  color: rgb(12, 11, 11);
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;
}
#btn1 {
  border: 1px solid transparent;
  margin-top: 20px;
  padding: 0px 173px;
  height: 60px;
  background-color: #404242;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
#btn1:hover {
  background-color: rgb(41, 36, 36);
  cursor: pointer;
}
#socialIcons > div {
  margin: auto;
  /* border: 1px solid red; */
  width: 278px;
  padding-top: 0px;
}

#socialIcons > p {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none solid;
  margin-top: 50px;
}
#socialIcons > div > a {
  margin-left: 8px;
}
