.register-container {
  /* max-width: 600px; */
  margin: auto;
}

#heading {
  /* letter-spacing: 0; */
  /* font-family: "Lora", serif; */
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

#myForm {
  width: 80%;
  margin: auto;
}

#register {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px auto;
  padding: 10px;
  font-size: 15px;
  width: 400px;
  height: 25px;
}
.margin_txt {
  padding-left: 1%;
}
#register input {
  width: 418px;
}
.Btn {
  margin: auto;
  border: 1px solid transparent;
  width: 423px;
}
#btn2 {
  border: 1px solid transparent;
  margin-top: 15px;
  /* padding: 0px 162px; */
  height: 50px;
  background-color: #ced8d6;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  width: 39%;
  margin-left: 328px;
}
#btn1 {
  border: 1px solid transparent;
  padding: 15px;
  width: 430px;
  margin: auto;
  /* margin-top: 20px; */
  margin-left: 0px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 17px;
  font-weight: bold;
  height: 53px;
}
#btn1:hover {
  /* margin: 5px; */
  padding: 15px;
  width: 423px;
  background-color: rgb(37,37,37);
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
#socialIcons > div {
  margin: auto;
  /* border: 1px solid red; */
  width: 22%;
  /* margin:10px; */
}

#socialIcons > p {
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
}
#socialIcons > div > a {
  margin-left: 12px;
}
